@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html {
  max-width: 100%;
  background-image: url('img_background@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.post-box {
  background-color: white;
  width: 300px;
  border: solid 1px black;
  margin-left: 30%;

}