/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

html, body {
  height: 100%;
}

.ember-application, .login-form {
  background-image: url('img_background@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} 

.login-inputs {
  margin-top: 15%;
}

.login {
  max-width: 20%;
  max-height: 18%;
  position: relative;
  left: 40%;
}

.login-submit {
  background-color: #A18DFF;
  color: white;
  margin-top: 1%;
  width: 20%;
}

.post-list {
  overflow-y: scroll;
  height: 100%;
  position: absolute;
  margin-left: -200px;
}

.posts-index {
  display: flex;
  justify-content: center;
}

.create-post {
  position: fixed;
  bottom: 6%;
  left: 50%;
  margin-left: -36px;
  height: 10%;
  cursor: pointer;
}

.post-box {
  background-color: white;
  border-radius: 10px;
  width: 400px;
  margin: 10px;
  padding: 5px;
}

.user-show {
  position: fixed;
  left: 41%;
  top: 0;
}

.user-profile {
  color: white;
  margin-left: 20%;
  margin-bottom: 20%;
}

.user-image {
  max-height: 10%;
  width: 60%;
}

.back-to-posts {
  color: white;
  margin-left: 10%;
}

.signout-button {
  color: white;
}

.box-shadow {
  -webkit-box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.41);
  -moz-box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.41);
  box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.41);
}