/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
}

.ember-application, .login-form {
  background-image: url('img_background@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} 

.login-submit {
  background-image: url('btn_signin.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20%;
  /*width: 20%;*/
  /*height: 200%;*/
  display: block;
  overflow: auto;
  /*max-height: 5%;*/
  color: white;
}

.post-list {
  overflow-y: scroll;
  position: absolute;
  /*top: 50%;*/
  left: 35%;
  max-height: 100%;
  /*width: 60%;*/
  /*height: 10%;*/
}

.create-post {
  position: fixed;
  bottom: 6%;
  left: 47%;
  height: 10%;
}

.post-box {
  background-color: white;
  max-width: 70%;
  margin-top: 3%;
  padding: 3%;
  border-radius: 5%;

}

.user-profile {
  color: white;
  margin-left: 10%;
}

.back-to-posts {
  color: white;
  margin-left: 10%;
}